html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  transform: scale(0.61);
  transform-origin: top center;
  padding: 40px;
  color: #d1d1d1;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  font-size: 20px;
  background: #2E0C49;
  background: linear-gradient(0deg, rgba(46, 12, 73, 1) 0%, rgba(49, 29, 118, 1) 100%);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-y: hidden;
}

a.card {
  text-decoration: none;
  color: inherit;
  display: block;
}

.logo {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards, floatLoop 3s ease-in-out infinite;
  animation-delay: 0s, 1.5s;
  -webkit-text-stroke-width: 1.38px;
  -webkit-text-stroke-color: black;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes floatLoop {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards, floatLoop 3s ease-in-out infinite;
  animation-delay: 0s, 1.5s;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgb(0, 0, 0);
  color: #d1d1d1;
  font-family: "Orbitron", sans-serif;
  font-size: 24px;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-disk-1 {
  background-color: rgba(110, 18, 20, 0.6);
  border: 2px solid rgb(214, 55, 58);
}

.card-disk-2 {
  background-color: rgba(49, 40, 25, 0.6);
  border: 2px solid rgb(138, 113, 72);
}

.card-disk-3 {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgb(90, 90, 90);
}

.card-disk-4 {
  background-color: rgba(43, 43, 43, 0.6);
  border: 2px solid rgb(133, 133, 133);
}

.card-minigames {
  background-color: rgba(94, 102, 0, 0.6);
  border: 2px solid rgb(222, 243, 1);
}

.card-scrapped {
  background-color: rgba(126, 23, 20, 0.6);
  border: 2px solid rgb(242, 56, 48);
}

.card-misc {
  background-color: rgba(102, 98, 102, 0.6);
  border: 2px solid rgb(198, 190, 199);
}

.card-disk-1:hover img {
  content: url('icons/week1_icon_hover.png');
}

.card-disk-2:hover img {
  content: url('icons/week2_icon_hover.png');
}

.card-disk-3:hover img {
  content: url('icons/week3_icon_hover.png');
}

.card-disk-4:hover img {
  content: url('icons/week4_icon_hover.png');
}

.card-minigames:hover img {
  content: url('icons/minigames_icon_hover.png');
}

.card-scrapped:hover img {
  content: url('icons/scrapped_icon_hover.png');
}

.card-misc:hover img {
  content: url('https://i.postimg.cc/kXMR3bZn/Image-2.png');
}