html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 40px;
  color: #d1d1d1;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 20px;
  background: #490c0c;
  background: linear-gradient(0deg, rgb(73, 12, 12) 0%, rgb(118, 29, 29) 100%);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}